<launch>
  <!-- Launch the first launch file -->
  <include file="$(find rosbags)/launch/play_rosbag.launch"/>

  <!-- Delay the second launch until the first completes -->
  <include file="$(find localization)/launch/pcl_to_scan.launch"/>

  <!-- Delay the third launch until the second completes -->
  <include file="$(find localization)/launch/amcl_localization.launch"/>

    <!-- Initial pose topic testing -->
  <node pkg="localization" type="publishInitialPose.py" name="initial_pose_publisher" output="screen"/>

</launch>
