<launch>
  <!-- Argument mit Standardwert -->
  <arg name="local_planner" default="teb"/>

  <!-- Node starten und Argument übergeben -->
  <node name="coordination_node" pkg="commander" type="coordination_node.py" output="screen">
    <param name="local_planner" value="$(arg local_planner)"/>
  </node>
</launch>
